<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <title>Relatório de TROs</title>
</head>

<body class="bg-light">
    <div>
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="images/logo.png" alt="" height="50">
                </a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div style="margin-top: 30px;">

            <label for="folderselect">Escolha a Pasta:</label>
            <select class="form-select" id="folderselect" name="folderselect" form="titulo">
                {{ range .Folders}}
                <option value="{{.FolderName}}">{{.FolderName}}</option>
                {{end}}
            </select>
            <form action="/" id="titulo" method="POST" onsubmit="toReport()">
                <input type="text" name="titulo" class="form-control"
                    placeholder="Se quiser Mudar o título do Relatório" name="titulo">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </form>
            <br>
        </div>

        <div class="disposicao">
            Abra a planilha Online<a
                href="https://anttgov-my.sharepoint.com/:x:/g/personal/eduardo_gerhardt_antt_gov_br/EaTYDn6s5upAg2FFBbMUGDkBF-o7Xw2ghfbhGILWyZmrVw?e=kReT4L"
                target="_blank">
                Aqui.
            </a>
        </div>
    </div>

</body>

</html>