<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <title>Relatório de TROs</title>
</head>

<body class="bg-light">

    <div style="width: 100%;">

        <div id="map"></div>

    </div>

    <div>
        {{range .Points}}
        {{.Rodovia}} Km {{.Km}}

        {{end}}
    </div>

    <script src="script/script.js"></script>

    <script>

        var lat = getUrlVars()["lat"];
        var long = getUrlVars()["long"];


        var map = L.map('map').setView([lat, long], 15)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap'
        }).addTo(map);


        function getUrlVars() {
            var vars = {};
             var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
                 });
            return vars;
        }

        

        console.log(lat)
        console.log(long)

        var LeafIcon = L.Icon.extend({
            options: {
            shadowUrl: 'leaf-shadow.png',
            iconSize:     [38, 95],
            shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [4, 62],
            popupAnchor:  [-3, -76]
         }
});

            var bmarker = L.icon({
                iconUrl : '/images/blackmarker.png',
                iconSize: [20, 30],
                iconAnchor: [7,30],
             });


        var currentLocationMark = L.icon({
            iconUrl : '/images/marker1.png',
            iconSize: [35, 60],
            iconAnchor: [17,60],
            shadowSize:   [50, 64],
            shadowAnchor: [22, 94],
        });

        L.marker([lat, long], {icon: currentLocationMark}).addTo(map).bindPopup("I am a green leaf.");



        {{ range.Points }}

        var marker = L.marker([{{.Latitude }}, {{.Longitude }}], {icon: bmarker}).addTo(map);

        marker.bindTooltip("BR{{.Rodovia}} Km {{.Km}}",
            {
                permanent: false,
                sticky: false,
            }).openTooltip();

        {{ end }}



    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>